body {
  background-color: #c2fd7b;

  height: 50px;
  color: #000000;
  font-family: 'Oswald', sans-serif;
  /* padding: 5px; */
  margin: auto;
  text-align: center;
  border: 10px;
}
div td {
  text-align: center;
}

td.cell {
  background-color: #de6b8a;
  width: 50px;
  height: 50px;
  font-size: 1.5em;
}

table {
  margin: auto;
}

/* .formLine {
    margin:10px;
    padding:10px;
    background-color: cornflowerblue;
  } */

button {
  text-align: center;
  cursor: pointer;
}

.floor {
  background-color: #809a6f;
  text-align: center;
}
.modal button {
  width: 75px;
  padding: 5px;
  border-radius: 9px;
  cursor: pointer;
  text-align: center;
}
button:hover {
  background-color: #8a96f1;
  color: #df6909;
}
td.cell:hover {
  background-color: #c58989;
  color: #df6909;
}
.h1 {
  text-align: center;
  font-style: italic;
}

.modal {
  display: none;
  background-color: #d64161;
  height: 150px;
  width: 200px;
  /* margin: auto; */
  padding: 20px 0px;
  position: absolute;
  left: 500px;
  bottom: 50%;
}
.flag-box {
  text-align: center;
}
td.shown {
  background-color: #de6b8a;
  width: 50px;
  height: 50px;
  font-size: 1.5em;
}
